/**********************/
/* Glossary Modals */
.glossary-term {
    color: #007bff;
    text-decoration-line: underline;
    text-underline-offset: 3px;
    text-decoration-style: dashed;
    cursor: help;
}

.glossary-modal {
    position: absolute;
    z-index: 1000;
    color: #fff;
    background-color: rgba(0,0,0,0.8);
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    /* max-width: 300px; */
    width: auto;
}

.glossary-modal-content {
    position: relative;
    margin: 0;
    font-size: 14px;
    display: flex;
    gap: 5px;
}

.glossary-modal-content p {
    text-wrap: pretty;
}

.glossary-modal-content a {
    /* blue color */
    color: #007bff;
    text-decoration: underline;
    text-underline-offset: 3px;
}

.glossary-modal-close {
    font-size: 28px;
    font-weight: bold;
    color: #aaa;
    cursor: pointer;
}

.glossary-modal-close:hover {
    color: #333;
}

/**********************/
/* Glossary Page */
.glossary {
    margin-top: 8px;
    border-top: 2px solid black;
    padding-top: 1rem;
}

.glossary .lead {
    font-size: 1.25rem;
    margin-bottom: 2rem;
}

.glossary .alphabet-navigation {
    margin-bottom: 3em;
}

.glossary h6 {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 1.125rem;
}

.glossary a {
    color: #007bff;
}

.glossary p {
    line-height: 1.5;
}

.glossary h6~p {
    margin: .5em 0 2em;
}