.glossary-container {
    position: relative;
}

.glossary-term {
    color: #007bff;
    text-decoration-line: underline;
    text-underline-offset: 3px;
    text-decoration-style: dashed;
    cursor: help;
}

.glossary-modal {
    display: none;
    position: absolute;
    z-index: 1000;
    left: 0%;
    top: 100%;
    background-color: rgba(0,0,0,0.8);
    color: #fff;
    padding: 15px;
    border-radius: 5px;
    width: 250px;
    max-width: 90vw;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.modal-content {
    margin: 0;
    font-size: 14px;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.modal-close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.modal-close:hover,
.modal-close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
