/* Custom CSS for single post pages e.g. blog posts, project pages */

/* Enforce Standard default colors for links (overrides PaperMod's black/white) */
    .post-content a {
        color: var(--link-unvisited)
    }

    .post-content a:hover {
        color: var(--link-hover)
    }

    .post-content a:visited {
        color: var(--link-visited)
    }

/* Make images (diagrams) zoomable */
    .post-content img{
        cursor: zoom-in;
    }